 *{
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

div {
  display: grid;
  position: absolute;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 500px;
  height: 520px; 
}

h1, .titled-score, .instructions, .new-game {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bdc4c9;
}

h1 {
  color:  #429488;
  font-size: 2.5em;
  grid-row: 1 / span 1;
}

.titled-score {
  grid-row: 2 / span 1;
}

.instructions {
  margin: 0 40px;
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
}

.new-game {
  display: flex;
  margin: 35px 200px;
  grid-row: 4 / span 1;
  height: 50px;
  width: 130px;
  padding: .5em;
  font-size: 1em;
  background-color:#3D4B54;
  border-style: none;
}

button:focus { 
  outline:0;
}

button:hover {
  background-color: #429488;
  color: #ffffff;
}

body {
  background-color: #2A3139;
}

#game {
  background-color: #39464E;
  border: 1px solid #429488;
  margin: 20px 605px;
  display: absolute;
}